openai
langchain
langchain-openai
langchain-core
langchain-community
langchain-groq
langchainhub

streamlit
python-dotenv
requests
pypdf
bs4
wikipedia
arxiv

faiss-cpu
chromadb

langserve
fastapi
uvicorn
sse_starlette


