openai
langchain
streamlit
langchain-openai
python-dotenv
langchain_community
langchain_core
langserve
fastapi
uvicorn
sse_starlette
bs4
chromadb
faiss-cpu
langchain-groq
wikipedia
arxiv
langchainhub

